################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calc/v16
/.vs
/src/Debug
/Debug
/Release
/src/Release
/src/Calculator/Debug
/src/Calculator/x64/Debug
/src/Calculator/Release
/src/Calculator/x64/Release
/x64/Release
/x64/Debug
/src/Calculator-Tests/Debug
/src/Calculator-Tests/x64/Debug
/src/Calculator-Tests/x64/Release
/src/Calculator-Tests/Release
/Calculator-Tests/Debug
/src/Calculator-Tests-Old/.vs/Calculator-Tests-Old/v16
/src/Calculator-Tests-Old/Release
/src/Calculator-Tests-Old/x64
/src/Calculator-Tests-Old/Debug
